body.managePet {
    margin: 0;
    background-image: url("../../../public/images/background.png");
}

.manageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerContainer {
    background-color: rgb(172, 227, 238);
    padding: 25px;
    box-shadow: 0 4px 12px rgba(24, 94, 112, 0.5);
}

.manageContainer div {
    margin-block: 20px;
    border-radius: 15px;
    width: 750px;
}

.editInput {
    display: flex;
}

.editInput input {
    margin-left: 20px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid var(--shadow);
}

.editInput input:focus {
    outline: none;
    box-shadow: 0 1px 2px gray;
}

.historyInput {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.selects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
    user-select: none;
}

.selects label {
    display: flex;
}

.historyInput textarea {
    width: 750px !important;
    min-height: 100px;
    border-radius: 5px;
}

.historyInput textarea:focus {
    outline: none;
    box-shadow: 0 1px 2px gray;
}

.selectInput {
    display: flex;
    width: 260px !important;
    justify-content: space-between;
}

.selectInput select {
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 1px 2px gray;
    width: 115px;
}

.selectInput select:focus {
    outline: none;
}

.addPet {
    display: flex;
    width: 750px;
    justify-content: end;
}

.addPet button {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: var(--secundary);
    border: 1px solid black;
    box-shadow: 0 2px 8px var(--shadow);
    transition: 0.5s;
    cursor: pointer;
}

.addPet button:hover {
    transform: translateY(-5px);
}


.multipleSelect input {
    width: 15px;
}

.selectImages input {
    margin-left: 25px;
}