:root {
    --primary: #aef4ff;
    --secundary: rgb(172, 227, 238);
    --shadow: rgba(24, 94, 112, 0.5);
    --button: #93a0b1;
}

.logo {
    cursor: pointer;
}

header {
    display: flex;
    padding-inline: 25px;
    align-items: center;
    background-color: var(--secundary);
    box-shadow: 0px 2px 12px var(--shadow);
    margin-bottom: 20px;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
}

header button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--button);
    background-color: transparent;
    border: none;
    color: black;
    transition: 0.3s;
    box-shadow: 0px 1px 4px var(--shadow);
}

header button:hover {
    transform: translateY(-3px);
}

/*footer*/

.social-media {
    display: flex;
}

footer {
    background-color: var(--secundary);
    margin-top: auto;
    padding-top: 1px;
}

footer p,
.logoFooter {
    text-align: center;
    display: flex;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer div span {
    font-weight: bold;
}

footer .social-media {
    justify-content: space-around;
}

footer .social-media ul {
    display: flex;
    margin-block-start: 0;
    padding-inline-start: 0px;
}

footer .social-media ul li {
    padding-inline: 1rem;
    list-style-type: none;
}

footer .social-media ul li a {
    color: black;
    transition: 0.3s;
}

footer .social-media ul li a:hover {
    font-size: 1.5rem;
    transition: 0.3s;
}

.copyright {
    font-family: "Roboto", sans-serif;
    color: #3b3b3b;
    font-size: 14px;
    margin: 0 0 10px 0;
}

/*filter*/

.filter {
    background-color: var(--secundary);
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 12px var(--shadow);
    margin-block: 20px;
}

.optionList {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.optionList label {
    margin-top: 10px;
    user-select: none;
}

.filterOption {
    margin-inline: 55px;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.selectsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.btnFilterContainer {
    display: flex;
    justify-content: end;
    margin: 20px 20px 0 0;
}

.btnFilterContainer button {
    display: flex;
    padding: 7px 14px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 4px var(--shadow);
    cursor: pointer;
    transition: 0.5s;
    background-color: rgb(217, 247, 244);
}

.btnFilterContainer button:hover {
    transform: translateY(-5px);
}

.nameFilter {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    box-shadow: 0 1px 4px var(--shadow);
    align-items: center;
    border-radius: 15px;
    background-color: rgb(217, 247, 244);
}

.nameFilter button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    margin-right: 5px;
    height: 31px;
    border-radius: 10px;
    transition: 0.5s;
}

.nameFilter button:hover {
    background-color: var(--secundary);
    box-shadow: 0 2px 4px var(--shadow);
}

.nameFilter label {
    font-size: 18px;
    margin-left: 10px;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.nameFilter input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
}

.nameFilter input:focus {
    outline: none;
}
