:root {
    --primary: #aef4ff;
    --secundary: rgb(172, 227, 238);
    --shadow: rgba(24, 94, 112, 0.5);
    --button: #93a0b1;
}

.logo {
    cursor: pointer;
}

header {
    display: flex;
    padding-inline: 25px;
    align-items: center;
    background-color: var(--secundary);
    box-shadow: 0px 2px 12px var(--shadow);
    margin-bottom: 20px;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
}

header button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--button);
    background-color: transparent;
    border: none;
    color: black;
    transition: 0.3s;
    box-shadow: 0px 1px 4px var(--shadow);
}

header button:hover {
    transform: translateY(-3px);
}

.social-media {
    display: flex;
}

footer {
    background-color: var(--secundary);
    margin-top: auto;
    padding-top: 1px;
}

footer p, .logoFooter {
    text-align: center;
    display: flex;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer div span {
    font-weight: bold;
}

footer .social-media {
    justify-content: space-around;
}

footer .social-media ul {
    display: flex;
    margin-block-start: 0;
    padding-inline-start: 0px;
}

footer .social-media ul li {
    padding-inline: 1rem;
    list-style-type: none;
}

footer .social-media ul li a {
    color: black;
    transition: 0.3s;
}

footer .social-media ul li a:hover {
    font-size: 1.5rem;
    transition: 0.3s;
}

.copyright {
    font-family: "Roboto", sans-serif;
    color: #3b3b3b;
    font-size: 14px;
    margin: 0 0 10px 0;
}
